[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pep8 = "*"

[packages]
django = ">=2.1.5"
colorama = "*"

[requires]
python_version = "3.6"
